@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.projectContainer {
  display: flex;
  flex-direction: row;
  gap: 3em;

  @include down($breakpoint-lg) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1em;
  }
}

.projectDetails {
  display: flex;
  flex-direction: column;
}

.softwareIconContainer {
  display: flex;
  flex-direction: row;
}

.softwareIcon {
  height: 32px;
  width: 32px;

  @include down($breakpoint-sm) {
    height: 25px;
    width: 25px;
  }
}

.description {
  margin-top: 1em;
}

.projectImageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.projectImage {
  height: 20em;
  width: auto;
  box-shadow: $box-shadow;

  @include down($breakpoint-lg) {
    height: 15em;
  }

  @include down($breakpoint-sm) {
    height: 10em;
  }
}
