@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.carouselContainer {
  padding: 10em 0 10em 0;
  box-sizing: content-box;
}

.carouselImage {
  height: auto;
  box-shadow: $box-shadow;
  aspect-ratio: 16 / 9;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navigator {
  width: 30%;
  margin: 2em auto 0 auto;

  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.navCircle {
  cursor: pointer;
  height: 0.5em;

  @include down($breakpoint-sm) {
    height: 0.3em;
  }
}

.navCircleFocused {
  color: $carousel-circle-focused;
}

.navCircleUnfocused {
  color: $carousel-circle-unfocused;
}
