@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.roundButton {
  width: fit-content;
  border-radius: $text-size-button;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  transition: filter 0.1s;
  background-color: $accent-color-primary;
  color: $text-alt;

  @include down($breakpoint-md) {
    padding: 5px 10px 5px 10px;
  }
}

.roundButton:hover {
  filter: brightness(120%);
}

.link {
  text-decoration: none;
  color: $text-primary;
}

.buttonLabel {
  font-weight: 500;
}
