.container {
  display: flex;
  flex-direction: column;
  gap: em;
  align-items: center;
}

.avatar {
  vertical-align: middle;
  width: 100%;
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
}

.title {
  text-align: center;
}
