.container{
  display: flex;
  flex-direction: column;
  gap:em;
  align-items: center;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.title{
  text-align: center;
}