@import "./variables.scss";
@import "./mixins.scss";

.pageContent {
  width: 80%;
  margin: 3em auto 0 auto;

  @include down($breakpoint-lg) {
    width: 90%;
  }
}

.descriptionContainer {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5em;

  @include down($breakpoint-lg) {
    flex-direction: column;
    gap: 2em;
  }
}

.aboutPicContainer {
  width: 58%;
  span {
    overflow: visible !important;
  }
  img {
    border-radius: 10px;
    box-shadow: $box-shadow;
  }
  @include down($breakpoint-lg) {
    width: 100%;
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  width: 42%;
  gap: 1em;

  @include down($breakpoint-lg) {
    width: 100%;
  }
}
